.flipper-block {
  flex: 1;
}

.amount-box {
  color: #ec9a29;
  font-family: "Tourney";
  font-size: 10rem;
  border-radius: 8px;

  line-height: 1;
  height: 0.5em;

  overflow: hidden;

  padding-left: 0.1em;
  padding-right: 0.1em;

  border-radius: 0.1em;
}

.top {
  background: #562c2c;
  padding-top: 0.25em;

  --mask: radial-gradient(12px at 12px 100%, #0000 98%, #000) -12px;
  -webkit-mask: var(--mask);
  mask: var(--mask);

  border-bottom: 0.75px solid #562c2c;
}

.bottom {
  background: #633232;
  padding-bottom: 0.25em;

  --mask: radial-gradient(12px at 12px 0, #0000 98%, #000) -12px;
  -webkit-mask: var(--mask);
  mask: var(--mask);

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

h3 {
  color: #dad2d8;
  font-family: "Poiret One";
}
