.flipper-block {
  flex: 1;
}

.amount-box {
  background: #0f8b8d;
  border-radius: 8px;
  padding: 24px;
}

h2 {
  color: #ec9a29;
  font-size: 125px;
  font-family: "Tourney";
}

h3 {
  color: #dad2d8;
  font-family: "Poiret One";
}
