body {
  margin: 0;
  text-align: center;
  background: #3d8c95;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}

.countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 75px;
}

.title {
  color: white;
  font-family: "Poiret One";
  padding: 42px;
  text-transform: uppercase;
}

.flippers-container {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

@media (max-width: 850px) {
  .flippers-container {
    flex-direction: column;
    gap: 0;
  }
}
