body {
  margin: 0;
  text-align: center;
  background: #ffcdb2;
}

.countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 75px;
}

.title {
  color: #6d6875;
  font-family: "Amatic SC", cursive;
  padding: 62px;
  text-transform: uppercase;
}

.flippers-container {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

@media (max-width: 850px) {
  .flippers-container {
    flex-direction: column;
    gap: 0;
  }
}
